<!DOCTYPE html>
<html>
<head>
    {{! TypeKit needs to load at the beginning of the head... }}
    <script type="text/javascript">
      (function(d) {
        var config = {
              kitId: 'krr5sel',
              scriptTimeout: 3000
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{meta_description}}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    {{> custom/meta this}}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />-->
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <!--<i id="menu_button" class="ocm_menu"></i>-->
  {{#post}}
    <h1>{{{title}}}</h1>
  {{/post}}
  <a href="/"><div id="logo">odden creative <span>media</span></div></a>
</header>

{{! Navbar menu }}
<div id="nav">
  <ul>
    <li><a href="/"><span><i class="ocm_home"></i><br/>home</span></a></li>
    <li><a href="/blog/"><span><i class="ocm_blog"></i><br/>blog</span></a></li>
    <li><a href="/services/"><span><i class="ocm_service"></i><br/>services</span></a></li>
    <li><a href="/portfolio/"><span><i class="ocm_portfolio"></i><br/>portfolio</span></a></li>
    <li><a href="/contact/"><span><i class="ocm_contact"></i><br/>contact</span></a></li>
  </ul>
</div>

{{! Everything else gets inserted here }}
<div id="page">
  {{{body}}}
</div>

    <footer>
      <!--<div class="ghost">-->
        <!--<p>Powered by <em><a href="https://ghost.org/">Ghost</a></em></p>-->
      <!--</div>-->
      <div class="copy">
        <p>&copy;2014 odden creative <span>media</span></p>
      </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for ocm.today }}
  <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
  <script type="text/javascript">
    (function($) {
      $(document).ready(function() {
        $('#menu_button').click( function(){
          if( $('body').hasClass('menu') ) {
            $('body').removeClass('menu');
          } else {
            $('body').addClass('menu');
            $('#nav.show').animate({
              left: 0
            }, 500);
          }
        });
        $(document).on("scroll", function () {
          if ($(document).scrollTop() > 10 && !$('body').hasClass('home-template') ) {
            if ($('body').hasClass('smallheader')) {
            } else {
              $('body').addClass('smallheader');
            }
          } else {
            if ($('body').hasClass('smallheader')) {
              $('body').removeClass('smallheader');
            } else {
            }
          }
        });
      });
    })(jQuery)
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30078637-2', 'ocm.today');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</body>
</html>
