{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}
    <article class="post-item {{post_class}}" role="article">

      <section class="post-content">
        <h4 class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='YYYY MMM DD'}}</time> {{tags prefix="on " separator=" | "}}</h4>

        {{content}}

      </section>

      <footer class="post-footer">

        {{> author this}}
        {{> share this}}

      </footer>

    </article>
  {{/post}}
  {{> disqus}}

</main>
