<section class="author">
  <img src="{{author.image}}"/>
  <h4>{{author.name}}</h4>
  <ul class="author-meta clearfix">
    {{#if author.location}}<li>{{author.location}}</li>{{/if}}
    {{#if author.email}}<li>{{author.email}}</li>{{/if}}
    {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
  </ul>
  <p>{{author.bio}}</p>
</section>
